* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  scroll-behavior: smooth;
}

/* .videoTag {
position: fixed;
left: 0;
z-index: -1;
} */

header {
  padding: 30px;
  background: #000505;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;  
  text-align: right;
  margin-bottom: 100px;
}


nav {
    list-style-type: none;
}

li {
  display: inline;
  margin: 7px;
}


a {
  text-decoration: none;
  color: #F9DC5C;
}

header a:hover {
  opacity: 70%;
}


/* header styling ends here */

body {
text-align: center;
color: #F9DC5C;
line-height: 1.5;
}

.container {
  box-shadow:  -1px 2px 12px #a1f4746c ;
  background-color: #141414;
  border-radius: 10px;
  word-wrap: break-word;
  margin: 5%;
  padding: 100px;
  opacity: 92%; 
  width: 80%;
  height: 80%;
}

h2 {
  display: inline;
}

#profileIMG {
  margin: 5px;
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  float: left; 
}

.links {
  display: flex;
  justify-content: center;
}

small,
label {
display: block;
font-weight: bold;
margin-top: 2px;
color: #F9DC5C;
}

.prj-container {
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
}

.project-img {
  height: 400px;
  width: 500px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.projects:hover {
opacity: 80%;
}

footer {
  background: #000505;
  font-weight: bold; 
}

.form,
.hr {
  display: flex;
  justify-content: center;
}
 
form {
  background-color: rgba(199, 226, 211, 0.048);
  padding : 50px;
  border-radius: 5px;
  margin: 5px;
}

input,
textarea {
  padding: 15px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 20px;
  border-radius: 5px;
}

textarea { 
  height: 50%;
}

.return-btn {
display:flex;
justify-content: center;
}

.return {
  display: block;
  margin: 10px;
}

button,
.resume {
  padding: 10px;
  font-size: 10;
  background-color: rgb(199, 226, 211);
  font-weight: bold;
  color: #1b492f;
  border-radius: 5px;
}

.resume-container{
  margin: 10px;
}

hr {
  margin: 10px;
  width: 25%;
  display: inline-block;
}

.grow {
  font-size:30px;
}

.links li {
  list-style: none;
}

.links li a {
  width: 50px;
  height: 50px;
  background-color: rgb(199, 226, 211);
  text-align: center;
  line-height: 52px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.links li a .grow {
  position: relative;
  color: #1b492f;
  transition: .5s;
  z-index: 3;
}

.links li a:hover .grow {
  color: #fff;
  transform: rotateY(360deg);
}

.links li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
}

.links li a:hover:before {
  top: 0;
}

.links li:nth-child(1) a:before{
  background: #16b6e7;
}

.links li:nth-child(2) a:before {
  background: #0077b5;
}

.links li:nth-child(3) a:before {
  background: #5607a0;
}


.resume {
 width: 100%;
 height: 100%;
}

.skills li {
  display: inline-block;
}

@media screen  and  (max-width: 1600px) {

  .project-img {
    height: 300px;
    width: 300px;
   }

   form {
    width: 50%;
    height: 50%;
  }
}

 

@media screen  and  (max-width: 992px){
  

}

@media screen and (max-width: 768px) {
  
  header a {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
    margin-left: 15px;
   }
 
   .container {
    padding: 30px;
  }


  #profileIMG {
  height : 50%;
   width: 50%; 
  }

.project-img {
width: 70%;
height: 70%;
margin: 2px
}
  
  .projects {
    margin: 3px;
  }

  form {
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 392px) {

  header a {
    flex-direction: column;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  h1, h3 {
   margin-left : 15px;
  }

  #profileIMG {
     width: 95%;
  }

  .project-img {
    width: 100%; 
   }

  .projects{
    margin: 5px;
  }

  form {
    width: 100%;
    height: 100%;
  }

  .grow {
    font-size: 17px;
  }

  .links li a {
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
  }

}
